.app {
  height: 100vh;
  overflow-x: hidden;

  .sections {
    // background: red;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    //section er vitorer protiti element k dhorar jonno evabe use kora hoi
    > * {
      height: calc(100vh - 70px);
      width: 100vw;
      scroll-snap-align: start;
    }
  }
}
